.currency-selector__select-value {
  display: contents;
}
.currency-selector__section-header {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem;
  text-transform: uppercase;
  border-block-end: var(--neutral-500) solid 1px;
  background-color: var(--neutral-600);
  
  position: sticky;
  top: 0px;
  z-index: 1;  
}
.currency-selector__currency-symbol {
  color: var(--neutral-50);
  text-transform: uppercase;
}
