@import './theme.css';
@import './TextField.css';

.react-aria-SearchField {
  display: grid;
  grid-template-areas: 'icon input';
  grid-template-columns: auto 1fr;
  align-items: center;
  width: auto;
  padding: 0.75rem;
  gap: 0.625rem;

  border: var(--neutral-200) solid 1px;
  border-radius: 6px;
  margin-block-end: 0.625rem;

  .search-icon {
    grid-area: icon;
    z-index: 2;
  }

  &[data-disabled] .search-icon{
    color: var(--text-color-disabled);
  }

  .react-aria-Input {
    grid-area: input;
    width: 100%;

    background-color: transparent;
    caret-color: var(--neutral-200);
    border: none;
    outline: none;
    padding: 0;
    color: var(--neutral-50);

    &::placeholder {
      font: var(--txt-preset-5);
      letter-spacing: 0.5px;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}
