.chart {
  width: 100%;
  font: var(--txt-preset-6);
  color: var(--neutral-200);
}
.no-tick .domain,
.no-tick .tick line {
  display: none;
}
.chart__line {
  color: var(--lime-500);
}
.gridline {
  color: var(--neutral-500);
  stroke-dasharray: 3, 3;
  stroke-width: 1.5px;
  .domain {
    display: none;
  }
}
