.rate-chart {
  display: grid;
  grid-template-areas: "stats" "selector" "chart";
  gap: 1rem;
  @media (min-width: 900px) {
    grid-template-areas: "stats selector" "chart chart";
    justify-content: space-between;
    align-items: center;
  }
}
.timeframe-selector {
  grid-area: selector;
  padding: 0.125rem;
  border-radius: 8px;
  background-color: var(--neutral-700);
  color: var(--neutral-200);
  width: fit-content;
  display: flex;
}
.timeframe-selector__tab {
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  font: var(--txt-preset-5);
  letter-spacing: 0.5px;

  &[data-selected] {
    background-color: var(--neutral-500);
    border-radius: 8px;
    color: var(--neutral-50);
  }
  &:not([data-selected]):hover {
    cursor: pointer;
    background-color: var(--neutral-500);
    border-radius: 8px;
    color: var(--neutral-50);
  }
}
.rate-chart .react-aria-TabPanels {
  grid-area: chart;
}
