:root {
  /* Colors */
  --neutral-900: hsl(0 0 4%);
  --neutral-700: hsl(240 4 9%);
  --neutral-600: hsl(240 3 13%);
  --neutral-500: hsl(0 0 18%);
  --neutral-400: hsl(0 0 24%);
  --neutral-300: hsl(240 1 27%);
  --neutral-200: hsl(0 0 62%);
  --neutral-100: hsl(0 0 78%);
  --neutral-50: hsl(0 0 100%);

  --lime-500: hsl(71 92 60%);
  --lime-800: hsl(73 100 10%);
  --green-500: hsl(104 96 47%);
  --red-500: hsl(0 100 63%);

  /* Typography */
  --mono: "JetBrains Mono", monospace;
  --txt-preset-1: bold 2.5rem/100% var(--mono);
  --txt-preset-1-tablet: bold 2rem/100% var(--mono);
  --txt-preset-2: normal 1.25rem/120% var(--mono);
  --txt-preset-2-bold: bold 1.25rem/140% var(--mono);
  --txt-preset-3: normal 1rem/120% var(--mono);
  --txt-preset-3-medium: 500 1rem/120% var(--mono);
  --txt-preset-3-bold: bold 1rem/110% var(--mono);
  --txt-preset-4: normal 0.875rem/120% var(--mono);
  --txt-preset-5: normal 0.75rem/120% var(--mono);
  --txt-preset-5-medium: 500 0.75rem/130% var(--mono);
  --txt-preset-6: normal 0.625rem/100% var(--mono);
}

/* Reset */
body {
  margin: 0;
  font-family: var(--mono);
  color: var(--neutral-50);
}
img {
  display: block;
  max-width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utils */
.currency-icon {
  border-radius: 50%;
}
.color-lime {
  color: var(--lime-500);
}
.color-green {
  color: var(--green-500);
}
.color-white {
  color: var(--neutral-50);
}
.color-red {
  color: var(--red-500);
}
