@import "./theme.css";

.react-aria-Popover {
  /* background-color: var(--neutral-600);
  border: var(--neutral-400) solid 1px;
  border-radius: 8px;
  padding: 0.5rem;
  width: var(--trigger-width);
  max-width: 376px;

  font: var(--txt-preset-5);
  letter-spacing: 0.5px;
  color: var(--neutral-200);

  display: flex;
  flex-direction: column; */

  &[data-placement="top"] {
    --origin: translateY(8px);
  }

  &[data-placement="bottom"] {
    --origin: translateY(-8px);
  }

  &[data-placement="right"] {
    --origin: translateX(-8px);
  }

  &[data-placement="left"] {
    --origin: translateX(8px);
  }
}
