.compare__item {
  gap: 0.625rem;
  position: relative;

  > * {
    display: flex;
    gap: 0.625rem;
    align-items: center;
  }
  .currency-icon {
    width: 24px;
    height: 24px;
  }
  &:hover {
    border-color: var(--neutral-300);
  }
  &:has(button.compare__item__btn:focus-visible) {
    border-radius: 10px;
    outline: var(--lime-500) solid 2px;
    outline-offset: 2px;
  }
}
.compare__item__btn {
  border: none;
  background-color: transparent;
  color: currentColor;
  font: inherit;
  text-align: start;
  &::before {
    content: "";
    inset: 0;
    cursor: pointer;
    position: absolute;
    z-index: 1;
  }
  &:focus-visible {
    outline: none;
  }
}
.compare-quote__symbol {
  font: var(--txt-preset-4);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-block-end: 0.375rem;
}
.compare-quote__name {
  font: var(--txt-preset-5);
  letter-spacing: 0.5px;
  color: var(--neutral-200);
}
.compare__receive-value {
  font: var(--txt-preset-3);
  letter-spacing: 1px;
  margin-block-end: 0.375rem;
}
.compare__rate {
  font: var(--txt-preset-6);
  color: var(--neutral-200);
  text-wrap: nowrap;
}
.compare__item__values {
  text-align: end;
}
.comapre__favBtn {
  padding: 0.5rem;
  border: var(--neutral-500) solid 1px;
  border-radius: 8px;
  background-color: var(--neutral-600);
  color: var(--neutral-50);
  cursor: pointer;
  z-index: 2;
  &:hover {
    background-color: var(--neutral-500);
  }
}
.comapre__favBtn--favorited {
  border-color: var(--lime-500);
  color: var(--lime-500);
}
