.history__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
}
.history__stat-cell {
  padding: 0.75rem 1.25rem;
  border: var(--neutral-600) solid 1px;
  border-radius: 16px;
  background-color: var(--neutral-700);
  color: var(--neutral-50);
}
.history__stat-title {
  margin-block-end: 1rem;
  text-transform: uppercase;
  opacity: 0.7;
  font: var(--txt-preset-4);
  letter-spacing: 1px;
}
.history__stat-value {
  font: var(--txt-preset-2);
  letter-spacing: -0.5px;
}
