body {
  background: var(--neutral-900);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font: var(--txt-preset-6);
  color: var(--neutral-200);
  text-align: center;
  gap: 0.5rem;
}
.content {
  padding: 2rem 1rem;
  width: min(100%, 1100px);
  justify-self: center;
}
