body {
  background: var(--neutral-900);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font: var(--txt-preset-6);
  letter-spacing: 0;
  color: var(--neutral-200);
}